@model List<Tournament>;
@{
    Layout = "_Layout1";


    string userName = User.Identity.Name;

    if (!string.IsNullOrEmpty(userName) && char.IsLower(userName[0]))
    {
        userName = char.ToUpper(userName[0]) + userName.Substring(1);
    }

}

<div class="div-wrapper">
    <div class="container">
        <div class="page-header">
            <div class="div-4">
                <div class="text-and-supporting">
                    <div class="text-4">
                        Hoşgeldin, @userName
                    </div>
                    @if (User != null && User.IsInRole("Admin"))
                    {
                        <p>Turnuvaları takip edip yönetebilirsin, oyuncular ekleyip düzenleme yapabilirsin.</p>
                    }
                    else
                    {
                        <p>Turnuvaları takip edebilirsin.</p>
                    }
                </div>
                <div class="div-2">
                    <button class="button-base-wrapper">
                        <div class="button-base-2"><div class="text-5">@userName</div></div>
                    </button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="button-2">
                            <div class="button-base-3">
                                <img class="img" src="~/home/log-out-2.svg" />

                                <a class="btn btn-primary w-100" asp-action="SignOut" asp-controller="User" style="background-color:#7F56D9; border-color:#7F56D9">Çıkış</a>
                            </div>
                        </button>


                    }
                    else
                    {
                        <button class="button-2">
                            <div class="button-base-3">
                                <img class="img" src="~/home/log-out-2.svg" />

                                <a class="btn btn-primary w-100" asp-action="SignIn" asp-controller="User" style="background-color:#7F56D9; border-color:#7F56D9">Giriş</a>
                            </div>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-wrapper">
    <div class="container">
        <div class="metric-group">
            <div class="metric-item">
                <div class="heading-and-dropdown">
                    <div class="heading">Oyuncu sayısı</div>
                    <div class="div-3"><img class="img" src="~/home/dropdown.svg" /></div>
                </div>
                <div class="number-and-chart">
                    <div class="number-and-badge"><div class="number"></div></div>
                    <div class="progress-circle">
                        <div class="overlap">
                            <div class="ring">
                                <div class="overlap-group"><img class="line-2" src="~/home/ring.svg" /></div>
                                @*   <div class="line-wrapper"><img class="line" src="~/home/ring.svg" />*@
                            </div>
                            <div class="label">Oyuncu #</div>
                            <div class="number-2">@ViewBag.userCount</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="metric-item">
                <div class="heading-and-dropdown">
                    <div class="heading">Turnuva sayısı</div>
                    <div class="div-3"><img class="img" src="~/home/dropdown.svg" /></div>
                </div>
                <div class="number-and-chart">
                    <div class="number-and-badge"><div class="number"></div></div>
                    <div class="progress-circle">
                        <div class="overlap">
                            <div class="ring">
                                <div class="line-wrapper"><img class="line-2" src="~/home/line.svg" /></div>
                            </div>
                            <div class="label-2">Turnuva #</div>
                            <div class="number-2">@ViewBag.tournamentCount</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-wrapper">
    <div class="container">
        <div class="filters-bar">
            <div class="content-2">
                <div class="input-dropdown-base-wrapper">
                    <div class="input-with-label-wrapper">
                        <div class="input-with-label">
                            <div class="input-2">
                                <div class="div">
                                    <img class="img" src="~/home/search-2.svg" />
                                    <div class="text-6">Turnuva ara</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <button class="button-2">
                        <div class="button-base-3">
                            <img class="img" src="~/home/plus.svg" />
                            <a class="btn btn-primary w-100" asp-action="CreateT" asp-controller="Tournament" style="background-color:#7F56D9; border-color:#7F56D9">Turnuva Ekle</a>
                        </div>
                    </button>

                }

            </div>
        </div>
        <div class="table-wrapper">
            <div class="table">
                <div class="card-header">
                    <div class="text-and-supporting-wrapper">
                        <div class="text-and-supporting"><div class="text-8">Yaklasan Turnuvalar</div></div>
                    </div>
                </div>
                <div class="content-3">
                    <div class="div-3">
                        <div class="table-header-cell">
                            <div class="table-header"><div class="text-9">No</div></div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="table-cell"><div class="text-wrapper-2">@item.Id</div></div>

                        }
                    </div>
                    <div class="div-3">
                        <div class="table-header-cell">
                            <div class="table-header"><div class="text-9">Turnuva İsmi</div></div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="table-cell-3">
                                <div class="avatar-2"></div>
                                <div class="div-3">
                                    <div class="text-10">@item.Name</div>
                                    <div class="text-wrapper-2"></div>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="div-3">
                        <div class="table-header-cell">
                            <div class="table-header"><div class="text-9">Lokasyon</div></div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="table-cell-3">
                                <div class="featured-icon"><img class="map-pin" src="~/home/map-pin.svg" /></div>
                                <div class="text-11">@item.Place</div>
                            </div>
                        }

                    </div>
                    <div class="column">
                        <div class="table-header-cell">
                            <div class="table-header"><div class="text-9">Tarih</div></div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="table-cell">
                                <div class="div-5">
                                    <div class="text-12">@item.StartDate</div>
                                    <div class="text-wrapper-2"></div>
                                </div>
                            </div>

                        }
                    </div>


                    <div class="div-3">
                        <div class="table-header-cell">
                            <div class="table-header"><div class="text-9">Katilimci sayisi</div></div>
                        </div>


                        @foreach (var item in Model)
                        {
                            <div class="avatar-group-wrapper">
                                <div class="avatar-group">
                                    <div class="avatars">
                                        <div class="avatar-14"><img src="~/home/avatar15.svg" /></div>
                                        <div class="avatar-15"><img src="~/home/avatar12.svg" /></div>
                                        <div class="avatar-16"><img src="~/home/avatar17.svg" /></div>
                                        <div class="avatar-17"><img src="~/home/avatar11.svg" /></div>
                                        <div class="avatar-9"><div class="text-13">@item.Users.Count()</div></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="div-3">
                        <div class="table-header-cell-2"></div>
                        @foreach (var item in Model)
                        {
                            <div class="table-cell-3">
                                <a class="badge-base4" asp-action="TUserList" asp-controller="Tournament" asp-route-tournamentId="@item.Id">
                                    <div class="" style="color:#7F56D9">Sıralama</div>
                                </a>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

