@model TournamentCreateVM
@{
    Layout = "_Layout1";
    string userName = User.Identity.Name;

    if (!string.IsNullOrEmpty(userName) && char.IsLower(userName[0]))
    {
        userName = char.ToUpper(userName[0]) + userName.Substring(1);
    }
}
<link href="~/turnuvalar/style.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
<style>
    a {
        display: flex;
        /* Your styles go here */
        text-decoration: none;
        color: #007bff; /* Change the color to your preference */
        /* Add any other styles you want */
    }

    .flex-container {
        display: flex;
        align-items: end;
        gap: 12px;
    }

    .text4 {
        transition: color 0.3s; /* Add a smooth transition effect */
    }

        .text4:hover {
            color: white; /* Change the text color to white on hover */
        }
</style>
<div class="main-wrap">
    <div class="main">
        <div class="main2">

            <div class="header-section">
                <div class="container">
                    <div class="page-header">
                        <div class="content5">
                            <div class="text-and-supporting-text2">
                                <div class="text5">Turnuva Ekle</div>
                                <div class="supporting-text2">
                                    Yeni turnuva ekleyebilirsiniz.
                                </div>
                            </div>
                            <div class="actions">
                                <div class="button2">
                                    <div class="button-base2">
                                        <div class="text6">@userName</div>
                                    </div>
                                </div>
                                <div class="button3">
                                    <div class="button-base3">
                                        <svg class="log-out2"
                                             width="20"
                                             height="20"
                                             viewBox="0 0 20 20"
                                             fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.5 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V4.16667C2.5 3.72464 2.67559 3.30072 2.98816 2.98816C3.30072 2.67559 3.72464 2.5 4.16667 2.5H7.5M13.3333 14.1667L17.5 10M17.5 10L13.3333 5.83333M17.5 10H7.5"
                                                  stroke="white"
                                                  stroke-width="1.67"
                                                  stroke-linecap="round"
                                                  stroke-linejoin="round" />
                                        </svg>

                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a class="text4" asp-action="SignOut" asp-controller="User">Çıkış yap</a>
                                        }
                                        else
                                        {
                                            <a class="text4" asp-action="SignIn" asp-controller="User">Giriş</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-7">
                <form asp-action="CreateT" asp-controller="Tournament" method="post">
                    <input type="hidden" name="pageNum" id="pageNumInput" value="1" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label>Turnuva İsmi:</label>
                                <span class="text-danger" asp-validation-for="@Model.Tournament.Name"></span>
                                <input asp-for="@Model.Tournament.Name" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label>Turnuva Konumu:</label>
                                <span class="text-danger" asp-validation-for="@Model.Tournament.Place"></span>
                                <input asp-for="@Model.Tournament.Place" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Turnuva Sistemi:</label>
                                <span class="text-danger" asp-validation-for="@Model.Tournament.System"></span>

                                <select class="form-control" asp-for="@Model.Tournament.System">
                                    <option>Seçiniz</option>
                                    <option>BG System</option>
                                    <option>Bracket</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Turnuva Tipi:</label>
                                <span class="text-danger" asp-validation-for="@Model.Tournament.Type"></span>

                                <select class="form-control" asp-for="@Model.Tournament.Type">
                                    <option value="">Seçiniz</option>
                                    <option value="Aynı Haklılar Eşleşir">Aynı Haklılar Eşleşir</option>
                                    <option value="Rastgele">Rastgele</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Oynama Hakkı:</label>
                                <span class="text-danger" asp-validation-for="@Model.Tournament.PlayLife"></span>

                                <select class="form-control" asp-for="@Model.Tournament.PlayLife">
                                    <option>Seçiniz</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label>Başlama Zamanı:</label>
                                <span class="text-danger" asp-validation-for="@Model.Tournament.StartDate"></span>
                                <div class="input-group date" id="datepicker" data-target-input="nearest">
                                    <input class="form-control datetimepicker-input" data-target="#datepicker" asp-for="@Model.Tournament.StartDate" />
                                    <div class="input-group-append" data-target="#datepicker" data-toggle="datetimepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Bye Tipi:</label>
                                <span class="text-danger" asp-validation-for="@Model.Tournament.ByeType"></span>

                                <select class="form-control" asp-for="@Model.Tournament.ByeType">
                                    <option>Seçiniz</option>
                                    <option>Rastgele</option>
                                    <option>Kaybedenler Öncelikli</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label>Masa Başlangıç:</label>
                                <span class="text-danger" asp-validation-for="@Model.Tournament.TableStart"></span>
                                <input asp-for="@Model.Tournament.TableStart" class="form-control" value="1" />
                            </div>


                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary" style="background-color:#7F56D9; border-color:#7F56D9">Kaydet</button>
                            </div>
                        </div>
                        @* <table class="table w-100" id="userTable">

                        <tbody>
                        @if (Model.Users != null)
                        {
                        @foreach (var user in Model.Users)
                        {
                        <tr>
                        <td><input type="checkbox" name="Id[]" value="@user.Id" /></td>
                        <td>@user.Name</td>
                        </tr>
                        }
                        }
                        </tbody>
                        </table>*@
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="userSearch">Oyuncu Ara:</label>
                                <input type="text" id="userSearch" class="form-control" placeholder="Ara">
                            </div>
                            <table class="table" id="userTable">
                                <thead>
                                    <tr class="content8" style="border:none">
                                        <th class="column">
                                            <div class="table-cell2">
                                                <div class="text12">OYUNCULAR</div>
                                            </div>
                                        </th>
                                        <th class="column">
                                            <div class="table-cell2">
                                                <div class="text13">İsim</div>

                                            </div>
                                        </th>
                                        <th class="column ">

                                            <div class="table-cell2">
                                                <div class="featured-icon">
                                                    <svg class="map-pin"
                                                         width="20"
                                                         height="20"
                                                         viewBox="0 0 20 20"
                                                         fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M17.5 8.33325C17.5 14.1666 10 19.1666 10 19.1666C10 19.1666 2.5 14.1666 2.5 8.33325C2.5 6.34413 3.29018 4.43647 4.6967 3.02995C6.10322 1.62343 8.01088 0.833252 10 0.833252C11.9891 0.833252 13.8968 1.62343 15.3033 3.02995C16.7098 4.43647 17.5 6.34413 17.5 8.33325Z"
                                                              stroke="#7F56D9"
                                                              stroke-width="1.66667"
                                                              stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                        <path d="M10 10.8333C11.3807 10.8333 12.5 9.71396 12.5 8.33325C12.5 6.95254 11.3807 5.83325 10 5.83325C8.61929 5.83325 7.5 6.95254 7.5 8.33325C7.5 9.71396 8.61929 10.8333 10 10.8333Z"
                                                              stroke="#7F56D9"
                                                              stroke-width="1.66667"
                                                              stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                    </svg>
                                                </div>
                                                <div class="text12">Şehir</div>
                                            </div>
                                        </th>
                                        <th class="column">
                                            <div class="table-cell2">
                                                <div class="badge">
                                                    <div class="badge-base4">
                                                        <div class="text18">Külup</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>

                                        <th class="column">
                                            <div class="table-cell2">


                                                <div class="text17">Durum</div>


                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.Users != null)
                                    {
                                        @foreach (var item in Model.Users)
                                        {
                                            <tr class="content8">
                                                <td class="column">
                                                    <div class="text13" hidden>@item.Name @item.SurName</div>
                                                    <div class="table-cell">

                                                        <input type="checkbox" name="Id[]" value="@item.Id" />
                                                    </div>
                                                </td>
                                                <td class="column">
                                                    <div class="table-cell2">
                                                        <div class="text13">@item.Name @item.SurName</div>

                                                    </div>
                                                </td>
                                                <td class="column">

                                                    <div class="table-cell">
                                                        <div class="featured-icon">
                                                            <svg class="map-pin"
                                                         width="20"
                                                         height="20"
                                                         viewBox="0 0 20 20"
                                                         fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M17.5 8.33325C17.5 14.1666 10 19.1666 10 19.1666C10 19.1666 2.5 14.1666 2.5 8.33325C2.5 6.34413 3.29018 4.43647 4.6967 3.02995C6.10322 1.62343 8.01088 0.833252 10 0.833252C11.9891 0.833252 13.8968 1.62343 15.3033 3.02995C16.7098 4.43647 17.5 6.34413 17.5 8.33325Z"
                                                              stroke="#7F56D9"
                                                              stroke-width="1.66667"
                                                              stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                                <path d="M10 10.8333C11.3807 10.8333 12.5 9.71396 12.5 8.33325C12.5 6.95254 11.3807 5.83325 10 5.83325C8.61929 5.83325 7.5 6.95254 7.5 8.33325C7.5 9.71396 8.61929 10.8333 10 10.8333Z"
                                                              stroke="#7F56D9"
                                                              stroke-width="1.66667"
                                                              stroke-linecap="round"
                                                              stroke-linejoin="round" />
                                                            </svg>
                                                        </div>
                                                        <div class="text12">@item.City</div>
                                                    </div>
                                                </td>
                                                <td class="column">
                                                    <div class="table-cell2">
                                                        <div class="badge">
                                                            <div class="badge-base4">
                                                                <div class="text18">@item.Club</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td class="column">
                                                    <div class="table-cell2">
                                                        @if (@item.IsActive)
                                                        {
                                                            <div class="text17">Aktif</div>
                                                        }

                                                        else
                                                        {
                                                            <div class="text17">Pasif</div>
                                                        }

                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <div class="d-flex" id="user-pagination-container" style="gap:10px">
                                                <div class="">
                                                    <button id="previousPageButton" class="btn btn-primary" style="background-color:#7F56D9; border-color:#7F56D9">
                                                        <div class="">
                                                            <div class="">Onceki</div>
                                                        </div>
                                                    </button>
                                                    <button id="nextPageButton" class="btn btn-primary" style="background-color:#7F56D9; border-color:#7F56D9">
                                                        <div class="b">
                                                            <div class="">Sonraki</div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                   
                                                    <div id="userTotalPages">@(Model.Users?.Any() ?? false ? Math.Ceiling((double)Model.Users.Count() / 5) : 1)</div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="text-danger mt-2" asp-validation-summary="ModelOnly">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
