@model ToursVM
@{
    ViewData["Title"] = "Tours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.PairVMs != null)
{
    <ul class="nav nav-tabs">
        @foreach (var item in Model.Tournament.Tours.OrderBy(x => x.Id).SkipLast(1))
        {
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="@item.Name-tab" data-bs-toggle="tab" data-bs-target="#@item.Name-pane" role="tab" aria-controls="@item.Name-pane" aria-selected="true">@item.Name</a>
            </li>
        }
        <li class="nav-item" role="presentation">
            <a class="nav-link active bg-warning" id="LastTab-tab" data-bs-toggle="tab" data-bs-target="#LastTab-pane" role="tab" aria-controls="LastTab-pane" aria-selected="true">Tur @Model.Tournament.Tours.Count()</a>
        </li>
    </ul>

    <div class="tab-content">
        @foreach (var p in Model.Tournament.Tours)
        {
            <div class="tab-pane fade" id="@p.Name-pane" role="tabpanel" aria-labelledby="@p.Name-tab" tabindex="0">
                @foreach (var item in p.Pairs)
                {
                    if (item.TourId == p.Id) // Assuming there's a property like TourId in your pair model
                    {
                        var scoresForCurrentPair = Model.Scores.FirstOrDefault(s => s.PairId == item.Id);

                        <div>
                            <p>
                                @(scoresForCurrentPair != null
                ? $"{scoresForCurrentPair.User1Name} : {item.User1Score} - {item.User2Score} : {scoresForCurrentPair.User2Name}"
                : "Scores not available")
                            </p>
                        </div>
                    }
                }
            </div>
        }
        <!-- Last Tab Content -->
        <div class="tab-pane  show active" id="LastTab-pane" role="tabpanel" aria-labelledby="LastTab-tab" tabindex="0">
            <form asp-action="SaveScores" method="post">
             
                <table class="table">
                  
                    <tbody>
                        
                        @for (int i = 0; i < Model.PairVMs.Count; i++)
                        {
                            <tr>
                                @if (Model.Tournament.Tours.Any())
                                {
                                    var maxTourId = Model.Tournament.Tours.Max(t => t.Id);
                                    var scoresForCurrentTour = Model.Scores.Where(s => s.TourId == maxTourId).ToList();


                                    if (scoresForCurrentTour.Any())
                                    {
                                        var score = scoresForCurrentTour[i];
                                        <input type="hidden" name="Scores[@i].PairId" value="@score.PairId" />
                                        <input type="hidden" name="Scores[@i].TournamentId" value="@Model.Tournament.Id" />
                                        <td>@Model.PairVMs[i].User1.Name @Model.PairVMs[i].User1.SurName</td>

                                        @if (Model.PairVMs[i].User2 != null)
                                        {
                                            <td>
                                                <input type="number" name="Scores[@i].User1Score" value="@score.User1Score" />
                                                <input type="hidden" name="User1Name" value="@score.User1Name" />
                                            </td>
                                            <td>
                                                <input type="number" name="Scores[@i].User2Score" value="@score.User2Score" />
                                                <input type="hidden" name="User2Name" value="@score.User2Name" />
                                            </td>
                                            <td>@Model.PairVMs[i].User2.Name @Model.PairVMs[i].User2.SurName</td>
                                        }
                                        else
                                        {
                                            <td><span>Bye</span></td>
                                            <td></td> <!-- Empty cell for User1Score -->
                                            <td></td> <!-- Empty cell for User2Score -->
                                        }
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Save Scores</button>
            </form>
        </div>
    </div>

}
else
{
    <ul class="nav nav-tabs ">
        @foreach (var item in Model.Tournament.Tours)
        {

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="@item.Name-tab" data-bs-toggle="tab" data-bs-target="#@item.Name-pane" role="tab" aria-controls="@item.Name-pane" aria-selected="true">@item.Name</a>
            </li>
        }
    </ul>

    <div class="tab-content">

        @foreach (var p in Model.Tournament.Tours)
        {
            <div class="tab-pane fade" id="@p.Name-pane" role="tabpanel" aria-labelledby="@p.Name-tab" tabindex="0">
                @foreach (var item in p.Pairs)
                {
                    if (item.TourId == p.Id) // Assuming there's a property like TourId in your pair model
                    {
                        <div>
                            @item.User1Score - @item.User2Score
                        </div>
                    }
                }
            </div>
        }
    </div>

    <form asp-action="DrawLot" method="post">
        <input type="hidden" value="@Model.Tournament.Id" name="Id" />
        <button type="submit" class="btn btn-danger">Tur#@(Model.Tournament.Tours.Count() + 1) Kura Çek </button>
    </form>

}




